<!DOCTYPE html>
<html lang="" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="" action="" method="post">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Login</legend>
                <div class="">
                    Email: {{ form.email }}

                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="">
                    Password: {{ form.password }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="">
                    {{ form.submit }}
                </div>
            </fieldset>

        </form>
        <small>
            Need an acount?
                <a href="{{ url_for('register') }}"> Register</a>
        </small>
    </body>
</html>
